.\" $Id: mipv6.tmpl 1.1 03/11/24 11:32:14+02:00 anttit@tcs.hut.fi $
.TH MIPV6 7 2003-12-24 "Linux Man Page" "Linux Programmer's Manual"
.SH NAME
mipv6 \- Linux Mobile IPv6 protocol extensions
.SH SYNOPSIS
.B #include <netinet/in.h>
.br
.B #include <netinet/ip6.h>
.br
.B #include <netinet/icmp6.h>
.br
.B #include <netinet/ip6mh.h>
.sp
.SH DESCRIPTION
Linux 2.6.* and 3.* optionally implements extensions for Mobile IPv6
protocol in the IPv6 stack.

.SH SEE ALSO
.BR mip6d.conf (5),
.BR mipv6 (7),
.PP
RFC6275: Mobility Support in IPv6
.PP
RFC3776: Using IPsec to Protect Mobile IPv6 Signaling Between Mobile
Nodes and Home Agents
.PP
RFC4877: Mobile IPv6 Operation with IKEv2 and the Revised IPsec
Architecture
.PP
RFC3963: Network Mobility (NEMO) Basic Support Protocol

